build
*.ipr
run
*.iws
out
*.iml
.gradle
output
bin
libs

.classpath
.project
.idea
classes
.metadata
.vscode
.settings
*.launch

common/jars/ignore
fabric/jars/ignore
forge/jars/ignore
jars/ignore
.architectury-transformer

reports